# Twilio Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_PHONE_NUMBER=

# Server & URLs
PORT=4500
BASE_URL=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
DATABASE_URL=
